.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear;
  height: 40vmin; */
  padding-right: 40px
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.topo{
  background: #483698 !important;
}

.pesquisa {
  background: #f7f6f6f2;
  border-radius: 6px;
  color: #4836989e;
}

.menu-lateral{
  margin-left: 15px !important;
}

.card{
  background: #ffffff;
  padding: 20px;
  margin: 15px;
  border-radius: 4px;
}

.avatar  {
  width: 200px !important;
  height: 200px !important;
  margin: 40px !important;
  display: flex;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.avatarInt {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}

.imagem{
  position: relative;
}

.imagem-mascara {
  width: 350px;
    height: 350px;
    position: absolute;
    /* top: 320 !important;
    left: 125 !important; */
    margin-top: 190px;
    margin-left: -170px;
  background:url(imagem/Rating3.svg) 0 0 no-repeat; /* imagem máscara */
}

.descricao{
  margin-top: 30px;
  text-align: left;
  
}

.descricao h4{
  font-weight: bold;
  color: #636262;
}

.descricao p{
    color: hsla(0, 0%, 0%, 0.59) !important;
}

.descricao h6{
  color: rgba(0, 0, 0, 0.74);
}

.descricao h5 strong{
  color: #00338d;
}

@media screen and (max-width: 850px) {
  .card {
    width: inherit; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .avatar{
    margin-left: 60px !important;
  }
}